body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

.wrapper {
	width: 40%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.wrapper .header {
	background-color: rgba(0, 116, 192, 0.05);
	border: 1px solid rgba(0, 116, 192, 0.2);
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 15px;
	border-radius: 0 0 5px 5px;
}

.wrapper .logo {
	width: 200px;
	height: 200px;
}

#schedule-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
}

.day__item {
	width: 100%;
}

.day__item strong {
	margin-bottom: 5px;
	display: block;
	font-weight: 600;
	font-size: 14px;
}

.day__item div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2px;
	flex-wrap: wrap;
}

.day__item div button {
	border: none;
	padding: 10px 15px;
	background-color: rgba(0, 116, 192, 0.05);
	border: 1px solid rgba(0, 116, 192, 0.2);
	color: rgb(0, 115, 192);
	font-weight: 600;
	transition: .3s;
	cursor: pointer;
}

.day__item div button:disabled {
	opacity: .2;
	background-color: rgba(0, 34, 56, 0.05);
	border: 1px solid rgba(0, 34, 56, 0.2);
	color: rgb(0, 34, 56);
	cursor: not-allowed;
}

button {
	border-radius: 5px;
}

button.active {
	background-color: rgb(0, 116, 192) !important;
	color: #fff !important;
}

button:hover {
	background-color: rgba(0, 116, 192, 0.1) !important;
}

button.active:hover {
	background-color: rgb(2, 94, 155) !important;
	color: #fff !important;
}

form {
	display: flex;
	flex-direction: column;
	gap: 2px;
	width: 100%;
}

form input {
	width: 100%;
	padding: 10px 15px;
	border-radius: 0;
	border: 1px solid rgba(0, 116, 192, 0.2);
	background-color: rgba(0, 116, 192, 0.05);
	color: rgb(0, 115, 192);
	font-size: 12px;
	border-radius: 5px;
}

form input::placeholder {
	color: rgb(0, 115, 192);
}

form .button_submit {
	width: 100%;
	background-color: #0074c0;
	color: #fff;
	border: none;
	padding: 10px 15px;
	font-weight: 600;
	cursor: pointer;
	margin-top: 10px;
}

form .button_submit:hover {
	background-color: #035d99 !important;
}

@media screen and (max-width: 900px) {
	.wrapper {
		width: 80%;
	}
}

@media screen and (max-width: 510px) {
	.wrapper {
		width: 95%;
	}
}